% Physique:
R=0.05
sigma=1e10//0.005// ! not uniform
S0=1000; 
r0 = 0.03
kappaR=1e-3//0.00001
kappa0=1e-3//0.001
TR=293
alpha = 2 ! mesh equispaced in r^alpha
% Numérique:
N=300
output=output.out
% Set to 0 to reduce printouts
verbose=1 
